* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
}

:root {
    --cambridge-blue: #9DBEBB;
    --princeton-orange: #FF9000;
    --prussian-blue: #031926;
    --desert-sand: #D7B29D;
    --ebony: #5A6650;
}

body {
    background-image: url("../img/creatures-background.png");
    background-size: cover;
}

main {
    margin: 2rem 0;
}

.row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
}

.geck {
    width: 15%;
    aspect-ratio: 1 / 1;
    position: relative;
    font-family: "Montserrat Alternates", sans serif;
    color: white;
    transition: scale 0.25s ease-in-out;
    box-shadow: 0 10px 10px 10px rgba(0 0 0 / 25%);
}

.geck:hover {
    scale: 1.75;
    transition: scale 0.25s ease-in-out;
    z-index: 1;
}

.name {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: clamp(0.4rem, 1.25vw, 1.25rem);
}

.breeder {
    position: absolute;
    top: 12.5%;
    left: 5%;
    font-size: clamp(0.2rem, 0.6vw, 0.6rem);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.geck:hover .breeder {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.lineage {
    position: absolute;
    top: 17.5%;
    left: 5%;
    font-size: clamp(0.2rem, 0.6vw, 0.6rem);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.geck:hover .lineage {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.parent {
    color: var(--cambridge-blue);
    text-decoration: underline;
}

.sex {
    float: right;
    margin: 2%;
    width: 15%;
}

.psex {
    float: right;
    font-size: clamp(0.15rem, 0.5rem, 0.5rem);
    text-align: center;
    margin: 4%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.geck:hover .psex {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.wmd {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: clamp(0.25rem, 0.75vw, 0.75rem);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.geck:hover .wmd {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#carl {
    background-image: url('../img/geckos/carl.png');
    background-size: contain;
}
#caspian {
    background-image: url('../img/geckos/caspian.png');
    background-size: contain;
}
#chance {
    background-image: url('../img/geckos/chance.png');
    background-size: contain;
}
#circe {
    background-image: url('../img/geckos/circe.png');
    background-size: contain;
}
#clark {
    background-image: url('../img/geckos/clark.png');
    background-size: contain;
}
#cornelius {
    background-image: url('../img/geckos/cornelius.png');
    background-size: contain;
}
#cowlick {
    background-image: url('../img/geckos/cowlick.png');
    background-size: contain;
}
#carcir23-21 {
    background-image: url('../img/geckos/carcir23-21.png');
    background-size: contain;
}
#carcir23-31 {
    background-image: url('../img/geckos/carcir23-31.png');
    background-size: contain;
}
#carcir23-41 {
    background-image: url('../img/geckos/carcir23-41.png');
    background-size: contain;
}
#carcow23-11 {
    background-image: url('../img/geckos/carcow23-11.png');
    background-size: contain;
}
#carcow23-21 {
    background-image: url('../img/geckos/carcow23-21.png');
    background-size: contain;
}
#cascow22-22 {
    background-image: url('../img/geckos/cascow22-22.png');
    background-size: contain;
}
#cascow22-41 {
    background-image: url('../img/geckos/cascow22-41.png');
    background-size: contain;
}
#cascow22-42 {
    background-image: url('../img/geckos/cascow22-42.png');
    background-size: contain;
}
#cascow22-51 {
    background-image: url('../img/geckos/cascow22-51.png');
    background-size: contain;
}
#cascow22-71 {
    background-image: url('../img/geckos/cascow22-71.png');
    background-size: contain;
}
#cascow22-72 {
    background-image: url('../img/geckos/cascow22-72.png');
    background-size: contain;
}
#cascow22-31 {
    background-image: url('../img/geckos/cascow22-31.png');
    background-size: contain;
}
#cascow22-11 {
    background-image: url('../img/geckos/cascow22-11.png');
    background-size: contain;
}
#cascow22-12 {
    background-image: url('../img/geckos/cascow22-12.png');
    background-size: contain;
}
#cascow22-61 {
    background-image: url('../img/geckos/cascow22-61.png');
    background-size: contain;
}
#cascow22-62 {
    background-image: url('../img/geckos/cascow22-62.png');
    background-size: contain;
}
#cascow22-32 {
    background-image: url('../img/geckos/cascow22-32.png');
    background-size: contain;
}

@media screen and (max-width: 700px) {
    header {
        margin-bottom: 2rem;
    }
    .row {
        width: 80%;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
        padding-bottom: 2rem;

    }
    .geck {
        width: 100%;
        z-index: -1;
    }
    .geck:hover {
        scale: 1;
    }
    .name {
        font-size: 1.5rem;
    }
    .psex {
        opacity: 1;
        font-size: 0.9rem;
    }
    .breeder {
        opacity: 1;
        font-size: 0.75rem;
        top: 12%;
    }
    .lineage {
        opacity: 1;
        font-size: 0.75rem;
    }
    .wmd {
        opacity: 1;
        font-size: 1rem;
    }
}