* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --cambridge-blue: #9DBEBB;
    --princeton-orange: #FF9000;
    --prussian-blue: #031926;
    --desert-sand: #D7B29D;
    --ebony: #5A6650;

}

body {
    background-image: url("img/hero-background.png");
    background-size: cover;
    height: 150vh;
}

header {
    width: 90%;
    max-width: 1200px;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    background-color: var(--prussian-blue);
    margin: 1rem auto;
    color: var(--cambridge-blue);
    font-family: "Montserrat Subrayada", sans-serif;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px 10px rgba(0 0 0 / 40%);
    position: sticky;
}

.icon-title {
    color: var(--cambridge-blue);
}

.logo {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

.gecko-icon {
    height: 3rem;
}

.apos {
    font-family: "Montserrat", sans-serif;
}

nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    scale: 1;
    transition: scale 0.25s ease-in-out;
}

a:hover {
    scale: 1.05;
    transition: scale 0.25s ease-in-out;
}

.link {
    color: var(--cambridge-blue);
}

.hero {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    gap: 2rem;
}

.hero-left {
    width: 60%;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
}


.hero-blurb {
    color: var(--desert-sand);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 125%;
    margin-bottom: 2rem;
}

.hero-image {
    width: 100%;
    min-width: 20rem;
    box-shadow: 0 10px 10px 10px rgba(0 0 0 / 25%);
}

button {
    scale: 1;
    transition: scale 0.25s ease-in-out;
    background-color: var(--princeton-orange);
    border: none;
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 1.5rem;
}

button:hover {
    scale: 1.05;
    transition: scale 0.25s ease-in-out;
}

.abt-encl {
    display: flex;
    flex-direction: row;
}

.about {
    background-color: var(--prussian-blue);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.meet {
    color: var(--cambridge-blue);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.abt-pic {
    width: 90%;
}

.builds {
    background-color: var(--ebony);
    width: 70%;
}



.build-examples {
    display: flex;
    flex-direction: row;
}

.build-img {
    height: 50%;
}

.enclosure-designs {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--desert-sand);
}

@media screen and (max-width: 900px) {
    header {
        margin: 0;
        width: 100%;
    }
    nav {
        width: fit-content;
        display: flex;
        flex-direction: column;
        background-color: var(--ebony);
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        gap: 2rem;
        justify-content: flex-start;
        padding: 2rem;
    }
    .link {
        color: var(--desert-sand);
    }
}