* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100vw;
}

:root {
    --cambridge-blue: #9DBEBB;
    --princeton-orange: #FF9000;
    --prussian-blue: #031926;
    --desert-sand: #D7B29D;
    --ebony: #5A6650;

}

body {
    background-image: url("img/hero-background.png");
    background-size: cover;
}

.hero {
    width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.hero-left {
    width: 60%;
}

.hero-blurb {
    color: var(--desert-sand);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: clamp(1rem, 4vw, 3rem);
    font-weight: bold;
    line-height: 125%;
    margin-bottom: 2rem;
}

.hero-image {
    width: 100%;
    box-shadow: 0 10px 10px 10px rgba(0 0 0 / 25%);
}

button {
    scale: 1;
    transition: scale 0.25s ease-in-out;
    background-color: var(--princeton-orange);
    border: none;
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: clamp(1rem, 2vw, 2rem);
}

button:hover {
    scale: 1.05;
    transition: scale 0.25s ease-in-out;
    cursor: pointer;
}

.avail-encl {
    display: flex;
    flex-direction: row;
}

.available {
    background-color: var(--prussian-blue);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.market {
    color: var(--cambridge-blue);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    text-align: center;
}

.chest {
    width: 80%;
    margin-bottom: 1rem;
    box-shadow: 0 10px 10px 10px rgba(0 0 0 / 25%);
}

.builds {
    background-color: var(--ebony);
    width: 70%;
}

.enclosure-designs {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--desert-sand);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 1rem;
}

.build-examples {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    margin-top: -1rem;
}

.build-img {
    width: 25%;
    height: 25%;
    box-shadow: 0 5px 5px 5px rgba(0 0 0 / 25%);
}

#build1 {
    margin-top: 0;
}

#build2 {
    margin-top: 3rem;
}

#build3 {
    margin-top: 6rem;
}

.view-builds {
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.gen-inq {
    display: flex;
    flex-direction: row;
}

.inquire {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--prussian-blue);
}

#down-arrow {
    color: var(--cambridge-blue);
    font-size: 3rem;
}

.reach {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--cambridge-blue);
}

.genetics {
    width: 60%;
    margin: 0 auto;
}

.morph {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--desert-sand);
    margin-top: 1rem;
    margin-left: 1rem;
}

.genetics-img {
    width: 40%;
    height: 40%;
}

.gen-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -4rem;
    margin-bottom: -3rem;
}

#cap-traits {
    margin-top: 6rem;
}

.gen-info {
    margin-left: 60%;
    margin-bottom: 4rem;
}

@media screen and (max-width: 700px) {
    button {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
    }
    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem auto;
    }
    .hero-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-blurb {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }
    .view-collection {
        width: fit-content;
    }
    .hero-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-image {
        width: 80%;
    }
    .avail-encl {
        display: flex;
        flex-direction: column;
    }
    .available {
        width: 100%;
    }
    .market {
        font-size: clamp(2.5rem, 2vw, 3.5rem);
    }
    .builds {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enclosure-designs {
        margin: 0;
        margin-top: 1rem;
        text-align: center;
        font-size: clamp(2.5rem, 2vw, 3.5rem);
    }
    .build-examples {
        margin: 1rem 0;
    }
    .view-builds {
        margin: 1rem 0;
    }
    .build-img {
        width: 40%;
    }
    #build1 {
        content: url("img/mobile-build-example1.png")
    }
    #build2 {
        content: url("img/mobile-build-example2.png")
    }
    #build3{
        display: none;
    }
    .genetics {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .morph {
        margin: 1rem 0;
        text-align: center;
        font-size: clamp(2.5rem, 2vw, 3.5rem);
    }
    .gen-imgs {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .genetics-img {
        width: 80%;
    }
    #cap-traits {
        margin: 0;
    }
    .gen-info {
        margin: 1rem 0;
    }
    .gen-inq {
        flex-direction: column;
    }
    .inquire {
        width: 100%;
        padding: 2rem 0;
    }
}